<form [formGroup]="companyUserForm" class="w-100 container company">
  <div class="mb-3">
    <div class="form-check form-check-inline" *ngFor="let item of titles; let i=index">
      <input class="form-check-input" type="radio" [value]="item.value" [checked]="item.checked" formControlName="titleOptions" id="titleOptions"/>
      <label class="form-check-label" for="titleOptions" >{{item.name}}</label>
    </div>
    <div *ngIf="f.titleOptions.errors" class="invalid-feedback">
      <div *ngIf="f.titleOptions.errors.required">Please select a title</div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="form-group col">
      <label for="firstName" class="fw-bold mb-3">First Name</label>
      <input type="text" class="form-control" formControlName="firstName" id="firstName" [ngClass]="{ 'is-invalid': f.firstName.errors }">
      <div *ngIf="f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="lastName" class="fw-bold mb-3">Last Name</label>
      <input type="text" class="form-control" formControlName="lastName" id="lastName" [ngClass]="{ 'is-invalid': f.lastName.errors }">
      <div *ngIf="f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      </div>
    </div>
  </div>
</form>
